{% extends "bootstrap/base.html" %}
{% block title %}Test{% endblock %}
{% block head %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      Lazy Train Info
    </a>
</nav>
{% endblock %}

{% block content %}
{% endblock %}